{% extends 'base.html' %}

{% block Title %}
    {{Judul}}
{% endblock %}

{% block pageTitle %}
    {{Judul}}
{% endblock %}

{% block content %}
    {{Content}}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/blog">
                All-post
            </a>
        </li>
    {% for category in Categories %}
        <li class="nav-item">
            <a class="nav-link" href="/blog/category/{{category.category}}">
                {{category.category}}
            </a>
        </li>
    {% endfor %}
    </ul>

    <h1>{{Posts.judul}}</h1>
    <p>{{Posts.publish}}</p>
    <p>{{Posts.body}}</p>

{% endblock %}